<B> Preface </B><BR>
Welcome to Data Science!

In science, replication is important. Notebooks are records that scientists keep, so that they can replicate their experiments. Traditionally, scientific notebooks held both methodology/procedural notes, as well as data notes. The methodology notes showed how to do a procedure on the data. The data showed the results that the scientist obtained by doing the procedure. 
<P>
Data scientists also often keep notebooks with their work, but data scientists typically use digital data and Jupyter notebooks. Jupyter notebooks are a way to combine English text and code in a single file. The English text can communicate to a human being what the purpose of the experiment is while the code can communicate to a machine how to analyze the data in a specific way. Jupyter notebooks require that the programming language supports Read-Eval-Print-Loops(REPL). Initially, Jupyter notebooks were most popularly implemented in Python, which partially explains the spelling of Jupyter. Sometimes, they are stored with an ipynb file extension which probably stands for Interactive PYthon NoteBook. 
<P>
In this class, we will store our work in Jupyter notebooks that use Python; specifically, we will use Google colab Jupyter notebooks, and you will need to share the notebooks with anyone who has a link and submit a link for each assignment on Canvas.
<P>
Data scientists often use Jupyter notebooks and Python code to share their work.  In this lab, you will practice writing Python functions or methods and using a Jupyter notebook.  You will submit the URL for your notebook in Canvas.  For each problem, you should write a function and write at least 1 test case, the test case given.  You can create additional blocks of code for additional test cases if you wish. When the problem specifies a sequence of something, most of the time a list will be the most appropriate data structure, but you may use another data structure if you wish, if you can justify it(please put justifications in a text block beneath your code).  You should leverage the functional programming paradigm and map, reduce, and filter as much as possible.  You may reuse these functions on later assignments.

<B>Problem 0: Sum of Two Numbers</B><BR>
Write a function that takes as input two numbers then computes their sum, e.g. 6 and 7 as input have a sum of 13.

In [ ]:
# A demo function to demonstrate the sum of two numbers.
def sumNums(a,b):
  return a+b
sumNums(6,7)

13

<B>Problem 1: Hypoteneuse of a Triangle</B><BR>
Write a function that takes as input the base and height of a right triangle and then computes the hypoteneuse as output, e.g. 3 and 4 as legs have a hypoteneuse as 5.

In [ ]:
import math
def hypotenuse(a,b):
  return math.sqrt((a**2)+(b**2))
hypotenuse(3,4)

5.0

<B>Problem 2: Dot Product</B><BR>
Write a function that takes as input two sequences of numbers and then computes their dot product, e.g. [1,2,3], [1,2,3] produces 14.

In [ ]:
from functools import reduce
def dotProduct(l1, l2):
  return sum(list(map(lambda x, y: x * y, l1, l2)))

dotProduct([1,2,3],[1,2,3])

14

<B>Problem 3: Double Sequence</B><BR>
Write a function that takes as input a sequence of numbers and then computes that sequence doubled, e.g. [1,2,3] produces [2,4,6].

In [ ]:
test = [1,2,3]
def dblSeq(a):
  return list(map(lambda x: x + x, a))
dblSeq(test)

[2, 4, 6]

<B>Problem 4: Remove Duplicates</B><BR>
Write a function that takes as input a sequence of variables and then computes a sequence with any duplicates in the original sequence removed, e.g. [1,1,2,1,3] produces [1,2,3].

In [ ]:
test = [1,1,2,1,3,3,4,5,6,4]
def removeDupes(a):
  return list(set(a))
removeDupes(test)

[1, 2, 3, 4, 5, 6]

<B>Problem 5: Translation</B><BR>
Write a function that takes as input a string (such as "two one three five four")  and then returns that sequence of words translated into a language of your choice- you must have at least 5 unique words, and the user must be able to use them in any order and in a string with up to 10 words.  You may use Google translate if you do not know another human langauge besides English.

In [ ]:
test = "two one three five four"
def translateEnglishNumeralsToSpanish(a):
  EnglishToSpanishNumerals = {
  "one": "uno",
  "two": "dos",
  "three": "tres",
  "four": "cuatro",
  "five": "cinco"
  }
  english = a.split()
  return list(map(lambda x: EnglishToSpanishNumerals[x], english))
translateEnglishNumeralsToSpanish(test)

['dos', 'uno', 'tres', 'cinco', 'cuatro']

<B>Problem 6: Count Articles</B><BR>
Write a function that takes as input a string and then produces as output a count of the words that are articles(a, an, the), e.g. "The bug is on a log in an orchard." returns 3.

In [ ]:
test = "The bug is on a log in an orchard."
def countArticles(a):
  string = a.upper().split()
  articles = ["A", "AN", "THE"]
  return len(list(filter(lambda x : x in articles, string)))
countArticles(test)

3

<B>Problem 7: List of Colors</B><BR>
Write a function that takes as input a sequence of words and then produces as output a list of words that are colors.  You  may assume that a color will not appear more than once in the input.  You must be able to recognize black, brown, blue, red, yellow, orange, purple, green, gray, and pink. e.g. "The red fox jumped over the brown log and into the blue sky" produces red, brown, blue.

In [ ]:
test = "The red fox jumped over the brown log and into the blue sky"
def extractColors(a):
  string = a.upper().split()
  colors = ["BLACK","BROWN","BLUE","RED","YELLOW","ORANGE","PURPLE","GREEN","GRAY","PINK"]
  return list(filter(lambda x : x in colors, string))
extractColors(test)

['RED', 'BROWN', 'BLUE']

<B>Problem 8: List of Positives</B><BR>
Write a function that takes as input a sequence of numbers and then produces as output a list of numbers that are positive, e.g. [1,-2,-3,4,5,-6,7,0,2] produces [1,4,5,7,2]

In [ ]:
test = [1,-2,-3,4,5,-6,7,0,2]
def extractPositives(a):
  return list(filter(lambda x : x >= 0, a))
extractPositives(test)

[1, 4, 5, 7, 0, 2]

<B>Problem 9: First n Squares</B><BR>
Write a function that takes as input an integer  n and returns a sequence of the first n square numbers, e.g. 5 produces 1,4,9,16,25.

In [ ]:
def firstNSquares(n):
  return list(map(lambda x : x**2, range(1,n+1,1)))
firstNSquares(5)

[1, 4, 9, 16, 25]

<B>Problem 10: Sum or Product Passed as a Procedure</B><BR>
Write a function that takes as input a sequence of numbers and a procedure. Then apply the procedure to the list of numbers.  At a minimum, you must be able to find the sum of the list of numbers and the product of the list of numbers.   

<B>CLARIFICATION::</B><BR>
I am asking you to pass a procedure similar to how it is done here:

https://www.geeksforgeeks.org/passing-function-as-an-argument-in-python/

 with func being passed as an argument/parameter to greet and func can be either shout or whisper. 

In the case of problem 10, you need to be able to pass something like add or multiply(which you may or may not need to define) as a parameter in the same way that shout or whisper can be passed as a parameter.

In [ ]:
from functools import reduce

def doSum(a):
  return reduce(lambda x, y: x + y, a)
  
def doProd(a):
  return reduce(lambda x, y: x * y, a)
  
def doMathStuff(a, func): 
    return func(a)
  
test = [1,2,3,4,5]
print(doMathStuff(test,doSum)) 
print(doMathStuff(test,doProd))

15
120